.my-menu{
      box-shadow: 0px 4px 4px 4px gray;
}

.home{

    margin-top: 50px;
  font-family: "Cedarville Cursive", cursive;
  background-color: white;

}
.p{

  font-family: "raleway", sans-serif;
  
}

#service{

  font-family: "Cedarville Cursive", cursive;
              
}